<section id="a-propos" class="section about">
    <h2>À propos</h2>
    <div class="container">
        <p>
            Génie Digital est une agence basée à Madagascar, spécialisée dans les
            services offshore pour startups, PME, freelances et agences. Notre
            équipe est formée, motivée et orientée résultat. On parle votre
            langage, et on travaille dans votre fuseau horaire.
        </p>
    </div>
</section>

@code {

}
