<section id="a-propos" class="section about">
    <h2>À propos</h2>
    <div class="container">
        <p>
            Génie Digital est une agence basée à Madagascar, spécialisée dans les services offshore pour les startups, PME, freelances et agences. Nous offrons des prestations fiables et flexibles en data entry, support, développement informatique et marketing digital.
        
        </p>
        <p>
            Notre équipe, formée et orientée résultat, travaille avec des méthodes rigoureuses pour garantir des livrables rapides, précis et conformes à vos exigences. Nous privilégions une communication fluide, une organisation claire et une collaboration alignée sur votre fuseau horaire.
        </p>
        <p>
            Avec Génie Digital, vous bénéficiez d’une expertise accessible, d’un accompagnement professionnel et d’un partenaire qui comprend réellement vos besoins.
        </p>
    </div>
</section>

@code {

}
