<section id="contact" class="section contact">
    <h2>Contact</h2>
    <p style="text-align: center">
        Vous avez un projet ou un besoin spécifique ? Parlons-en !
    </p>
    <form>
        <input type="text" placeholder="Votre nom" required />
        <input type="email" placeholder="Votre email" required />
        <textarea rows="5"
                  placeholder="Décrivez votre besoin..."
                  required></textarea>
        <button type="submit" class="btn-form">Envoyer</button>
    </form>
</section>

@code {

}
