<section class="hero">
    <h1 data-aos="fade-down">Votre partenaire digital offshore</h1>
    <p data-aos="fade-up" data-aos-delay="200">
        Externalisez vos tâches marketing, techniques et support client.
    </p>
    <a href="#contact" class="btn" data-aos="zoom-in" data-aos-delay="400">Discutons de votre projet</a>
</section>

@code {

}
