<section id="team" class="section">
    <h2>Notre équipe</h2>
    <div class="container grid2">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">

            <img class="team-img" src="images/jacky.png" alt="Jacky Rakotomalala">
            <h3>Jacky Rakotomalala — Directeur Général & Fondateur</h3>
            <p>
                Jacky pilote la vision et la stratégie globale de Génie Digital. 
                Avec une expertise solide en gestion opérationnelle et en optimisation des processus,
                il coordonne les équipes et garantit la qualité des prestations offertes à nos clients.
            </p>
        </div>

        <div class="card" data-aos="zoom-in" data-aos-delay="200">

            <img class="team-img" src="images/rajo.jpg" alt="Rajo Rakotomalala">
            <h3>Rajo Rakotomalala — Directeur Technique</h3>
            <p>
                Rajo supervise l’ensemble des opérations de production chez Génie Digital. 
                Il coordonne les équipes, garantit le respect des délais et veille à la qualité des livrables. 
                Son expertise technique et organisationnelle assure une exécution fluide et efficace de chaque projet.
            </p>
        </div>

        <div class="card" data-aos="zoom-in" data-aos-delay="300">

            <img class="team-img" src="images/miranto.jpg" alt="Miranto Rasolohery">
            <h3>Miranto Rasolohery — Directeur Commercial</h3>
            <p>
                Miranto est responsable du développement commercial et des relations B2B. 
                Il accompagne nos clients dans la définition de leurs besoins, propose des solutions sur mesure et veille 
                à la satisfaction et à la fidélisation de chaque partenaire.
            </p>
        </div>

        <div class="card" data-aos="zoom-in" data-aos-delay="400">

            <img class="team-img" src="images/kanto.jpeg" alt="Kanto Malalaharinosy">
            <h3>Kanto Malalaharinosy — Responsable Relation Client</h3>
            <p>
                Kanto assure le suivi quotidien des clients et garantit une communication fluide et professionnelle. 
                Elle coordonne les demandes, gère le support et veille à la qualité de l’expérience client à chaque étape du projet.
            </p>
        </div>
    </div>
</section>