<header>
    <div class="container">
        <nav>
            <div>
                <img src="/logo.png" alt="Génie Digital" class="logo" />
            </div>
            <div class="nav-toggle" id="nav-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <div class="nav-menu" id="nav-menu">
                <a href="#">Accueil</a>
                <a href="#services">Services</a>
                <a href="#a-propos">À propos</a>
                <a href="#contact">Contact</a>
                <NavLink href="/packzen">Pack Zen</NavLink>
            </div>
        </nav>
    </div>
</header>

@code {

}
