@inherits LayoutComponentBase

<header>
    <div class="container">
        <nav>
            <div>
                <img src="/logo.png" alt="Génie Digital" class="logo" />
            </div>
            <div class="nav-toggle" id="nav-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <div class="nav-menu" id="nav-menu">
                <a href="#">Accueil</a>
                <a href="#services">Services</a>
                <a href="#a-propos">À propos</a>
                <a href="#contact">Contact</a>
                <a href="#">Pack Zen</a>
            </div>
        </nav>
    </div>
</header>

@Body

<footer>
    <div class="container">
        <p>
            &copy; 2025 Génie Digital - Tous droits réservés |
            contact@genie-digital.com
        </p>
    </div>
</footer>
